# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/

# Build artifacts
build/
dist/
*.spec

# System files
.DS_Store
Thumbs.db

# Logs and databases
*.log
*.sqlite3

# Zip archives
*.zip

# Ignore VS Code settings (optional)
.vscode/

# Test coverage
.coverage
.pytest_cache/
